//
// assets/styles/manager.scss
//

// the ~ allows you to reference things in node_modules
@import "~bootstrap/scss/bootstrap";

#puzzle_list {
    .row{
        padding: 5px 0;
        background-color: #eee;

        .action-cell{
            text-align: right;

            a{
                padding: 0 5px;
                text-decoration: none;
            }
        }

        .add-cell button{
            width: 100%;
        }
    }
}
