{% extends 'base.html.twig' %}

{% block body %}
	<div id="wrapper">
		<div class="card" id="main-container">
			<div class="card-body">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h2 class="display-4">Page not found.</h2>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p>ページが見つかりません。QRコードを読み込み直してください。</p>
                            <p>このエラーが繰り返し表示される場合は、近くにいる5Sの学生にこの画面を見せてください。</p>
                        </div>
                    </div>
                </div>
			</div>
		</div>
	</div>
{% endblock %}
