{% extends 'base.html.twig' %}

{% block title %}
	Puzzle
{% endblock %}

{% block body %}

	<div id="wrapper">
		<div class="card" id="main-container">
			<div class="card-body">
				<div class="container">
					<div class="row">
						<div id="Input">
							<div class="container panel" id="input-panel">
								{% for y in 0..(puzzle.height - 1) %}
									<div class="row">
										{% for x in 0..(puzzle.width - 1) %}
											{% set index = y * puzzle.width + x %}
											{% set color = puzzle.colors[index] %}
											<div class="col">
												<button class="btn btn-outline-dark puzzlebutton" data-button-id="{{index}}" style="border-color:{{ color }}" onmouseout="this.style.background='';" onmouseover="this.style.background='{{ color }}';"></button>
											</div>
										{% endfor %}
									</div>
								{% endfor %}
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="card-body">
				<div class="container">
					<div class="row">
						<div class="col">
							<div id="Answer">
								<div class="container panel" id="answer-panel">
									<div class="row">
										<div class="col">
											<h5>{{ puzzle.reward }}</h5>
										</div>
									</div>
									<div class="row">
										<button class="btn btn-primary">Next</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}
